name: Build conda packages

on:
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(vars.BUILD_OS)}}
        python-version: [3.8] # temp for testing purposes ${{ fromJSON(vars.PYTHON_VERSIONS)
    steps:
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - uses: actions/checkout@v4
      - name: update submodules
        run: |
          git submodule update --init --recursive
      - name: Conda build
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN  }}
        shell: bash -l {0}
        run: |
          conda config --env --add channels loop3d
          conda config --env --add channels conda-forge
          conda config --env --set channel_priority strict
          conda install -c conda-forge conda-build scikit-build-core numpy anaconda-client conda-libmamba-solver -y
          conda config --set solver libmamba
          conda build python=3 --output-folder conda conda  --python ${{matrix.python-version}}

          
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: conda-build-${{matrix.os}}-${{ matrix.python-version }}
          path: conda