name: Build conda packages

on:
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(vars.BUILD_OS)}}
        python-version: ${{ fromJSON(vars.PYTHON_VERSIONS)}}
    steps:
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}

      - uses: actions/checkout@v4
      - name: update submodules
        run: |
          git submodule update --init --recursive
      - name: Conda build
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN  }}
        shell: bash -l {0}
        run: |
          conda install -c conda-forge conda-build scikit-build-core numpy anaconda-client conda-libmamba-solver -y
          conda build -c conda-forge -c loop3d --output-folder conda conda  --python ${{matrix.python-version}} --solver=libmamba
          anaconda upload --label main conda/*/*.tar.bz2
          
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: conda-build-${{matrix.os}}-${{ matrix.python-version }}
          path: conda