name: Linting and Testing

on:
    [push]

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black ruff
          ruff check . --fix

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "style: style fixes by ruff and autoformatting by black"
<<<<<<< HEAD
 
          
=======

>>>>>>> 7978841 (feat: v3.2 (#153))
  testing:
    name: Testing
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Install GDAL
        run: |
          sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable
          sudo apt-get update
          sudo apt-get install -y libgdal-dev gdal-bin

      - name: Install dependencies
        run: |
            conda update -n base -c defaults conda -y 
            conda install -n base conda-libmamba-solver -c conda-forge -y
            conda install -c conda-forge gdal -y
            conda install -c conda-forge -c loop3d --file dependencies.txt -y
            conda install pytest -y

      - name: Install map2loop
        run: |
            python -m pip install .

      - name: Run tests
        run: |
            pytest

