name: Deploy to PYPI

on:
  workflow_dispatch:
jobs:

  sdist:
    name: Build sdist
<<<<<<< HEAD
    runs-on: ubuntu-latest
=======
    runs-on: ubuntu-24.04
>>>>>>> 7978841 (feat: v3.2 (#153))
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build sdist
        run: python -m build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: ./dist/*.tar.gz

  publish:
    name: Publish wheels to pypi
<<<<<<< HEAD
    runs-on: ubuntu-latest
=======
    runs-on: ubuntu-24.04
>>>>>>> 7978841 (feat: v3.2 (#153))
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    needs: sdist
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: copy to wheelhouse
        run: |
          # cp -r wheelhouse/*/*.whl dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          verbose: true
          packages-dir: dist/